<!-- Header Wrapper -->
    <div id="header-wrapper">

      <!-- Header -->
      <div id="header" class="container">

        <!-- Logo -->
        <h1 id="logo"><a href="/">{{ site.name }} </a></h1>
        <p>{{site.description}}</p>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a class="icon icon-home" href="{{ site.baseurl }}/index.html"><span>Introduction</span></a></li>
            <li>
              <a href="" class="icon icon-bar-chart"><span>Dropdown</span></a>
              <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam dolore nisl</a></li>
                <li>
                  <a href="">Phasellus consequat</a>
                  <ul>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam dolore nisl</a></li>
                    <li><a href="#">Phasellus consequat</a></li>
                  </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
              </ul>
            </li>

            <!-- <li><a class="icon icon-cog" href="left-sidebar.html"><span>Left Sidebar</span></a></li>
            <li><a class="icon icon-retweet" href="right-sidebar.html"><span>Right Sidebar</span></a></li>
            <li><a class="icon icon-sitemap" href="no-sidebar.html"><span>No Sidebar</span></a></li>
             -->
          </ul>
        </nav>

      </div>

    </div>
