<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{{ site.description }}" />

        <title>{{ page.title | strip_html }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- <meta name="viewport" content="width=1040" /> -->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"> -->
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" rel="stylesheet"  type="text/css" />

        <!-- Custom JS -->
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery.dropotron.js"></script>
        <script src="{{ site.baseurl }}/js/config.js"></script>
        <!-- <script src="{{ site.baseurl }}/js/skel.min.js"></script>
        <script src="{{ site.baseurl }}/js/skel-panels.min.js"></script> -->
        <!-- <noscript> -->
          <link rel="stylesheet" href="{{ site.baseurl }}/css/skel-noscript.css" />
          <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
          <link rel="stylesheet" href="{{ site.baseurl }}/css/style-desktop.css" />
        <!-- </noscript> -->
    </head>
